#system
.DS_Store

# eclipse
eclipse/
bin/
*.launch
.settings
.metadata
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle

# other
run/
logs/
/assets/
.architectury-transformer/

#vscode
.vscode
